body {
  margin: 0;
  padding: 0;
  color: #cffafe;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #082f49;
  min-height: 100vh;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  margin-block-end: 0;
}

p {
  font-weight: 300;
  margin-block: 0;
}

.calender {
  position: relative;
  width: fit-content;
  margin-top: 24px;
}



.mask-1 {
  width: 140px;
  height: 20px;
  background-color: #e3e9ff;
  position: absolute;
  bottom: 7px;
  right: 4px;
}
