body {
  margin: 0;
  padding: 0;
  color: #cffafe;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #082f49;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  margin-block-end: 0.25rem;
}

p {
  font-size: 0.825rem;
  font-weight: 200;
  margin-block: 0;
}

.calendar {
  position: relative;
  width: fit-content;
  margin: 24px 0 48px 0;
}

.mask-1 {
  width: 140px;
  height: 24px;
  background-color: #e3e9ff;
  position: absolute;
  bottom: 6px;
  right: 4px;
}
